#### Q1. Create one variable containing following type of data:

##### (i) string

In [1]:
my_string = "Hello World!"

##### (ii) list

In [2]:
my_list = ["Some String", 1, 2.5, 3+9j]

##### (iii) float

In [3]:
my_float = 34.98

##### (iv) tuple

In [4]:
my_tuple = (1, 4.5, "Some String")

#### Q2. Given are some following variables containing data. What will be the data type of the above given variable:

##### (i) var1 = ‘ ‘

In [20]:
var1 = ''
type(var1) #It is of str type (String)

str

##### (ii) var2 = ‘[ DS , ML , Python]’

In [10]:
var2 = '[ DS , ML , Python]'
type(var2) # It is also of str type.

str

##### (iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

In [33]:
var3 = ['DS', 'ML', 'Python']
type(var3) # It is a list containing 3 elements of type str

list

##### (iv)	var4 = 1.

In [35]:
var4 = 1.
type(var4) # var4 is containing floating value. It is of type float.

float

#### Q3. Explain the use of the following operators using an example:

##### (i) /

In [16]:
# Division (float)
# Performs true division. Divides first operand by the second and yields float value. 

20/3

# Here 20 is divided by 3 and the result we get is 6.66

6.666666666666667

##### (ii) %

In [19]:
# Modulus 
# yields remainder of dividing first operand by the second

20%3

# Here 20 is divided by 2 and remainder 2 will be returned

2

##### (iii) //

In [22]:
# Division (floor)
# yields quotient after discarding fractional part from the division of first operand by the second

20//3

# Here 20 is divided by 3 and quotient 6 will be returned

6

##### (iv) **

In [25]:
# Power (exponent) 
# yeilds first raised to the power second

2**3

# Here It will return 8. Since 2 raised to the power 3 means 2*2*2

8

#### Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [15]:
my_data_list = ["first_element", 2, 2+9j, ['a', 'b', 'c'], (1, 2, 3), "['a', 'b', 'c']", False, '(1, 2, 3)', 2.5, "last_element"]

for each_element in my_data_list:
    print(f"Data is : '{each_element}'")
    print(f"Data type is: {type(each_element)}\n")

Data is : 'first_element'
Data type is: <class 'str'>

Data is : '2'
Data type is: <class 'int'>

Data is : '(2+9j)'
Data type is: <class 'complex'>

Data is : '['a', 'b', 'c']'
Data type is: <class 'list'>

Data is : '(1, 2, 3)'
Data type is: <class 'tuple'>

Data is : '['a', 'b', 'c']'
Data type is: <class 'str'>

Data is : 'False'
Data type is: <class 'bool'>

Data is : '(1, 2, 3)'
Data type is: <class 'str'>

Data is : '2.5'
Data type is: <class 'float'>

Data is : 'last_element'
Data type is: <class 'str'>

#### Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [39]:
first_number = int(input("Enter number A: "))
second_number = int(input("Enter number B: "))

iteration_count = 0
while first_number%second_number==0:
    first_number //= second_number
    iteration_count += 1 
else:
    print(f"Number A is purely divisible by number B {iteration_count} times")

Enter number A:  22
Enter number B:  2

Number A is purely divisible by number B 1 times

#### Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [28]:
list_containing_25_int_values = [12, 67, 34, 56, 23, 79, 55, 76, 34, 23, 39, 56, 45, 84, 37, 87, 65, 47, 68, 21, 29, 27, 98, 100, 108]
for each_element in list_containing_25_int_values:
    if each_element % 3 == 0:
        print(f"{each_element} is divisible by 3")

12 is divisible by 3
39 is divisible by 3
45 is divisible by 3
84 is divisible by 3
87 is divisible by 3
21 is divisible by 3
27 is divisible by 3
108 is divisible by 3

##### Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

###### As we know every obejct in python has an ID, a type and a value. I will try to explain mutable and immutable data types thorugh example.
###### Example:

In [67]:
my_int = 13
print(f"Type of my_int is: {type(my_int)}") # printing type of my_int
print(f"ID of my_int is: {id(my_int)}") # printing id of my_int

#now decreasing the value of my_int by 1 
my_int -=1
print("\nSubtracted 1 from my_int")
print(f"Type of my_int is: {type(my_int)}")
print(f"ID of my_int is: {id(my_int)}\n")

print("-"*50)
#creating a new object of type list
my_list = [1, 4, 7, 10, 15]
print(f"\nType of my_list is: {type(my_list)}")
print(f"ID of my_list is: {id(my_list)}")

my_list.pop()
print("\nPopped one element from list")
print(f"Type of my_list is: {type(my_list)}")
print(f"ID of my_list is: {id(my_list)}")

Type of my_int is: <class 'int'>
ID of my_int is: 140705045800104

Subtracted 1 from my_int
Type of my_int is: <class 'int'>
ID of my_int is: 140705045800072

--------------------------------------------------

Type of my_list is: <class 'list'>
ID of my_list is: 1479229338176

Popped one element from list
Type of my_list is: <class 'list'>
ID of my_list is: 1479229338176

###### So, objects of type int are immutable and objects of type list are mutable.

##### Explanation : 
In the above example we saw, changing the value there in my_int changes the ID for that obejct. 
Here the value of my_int does not chnage, as it is immutable. So, after subtracting 1 from my_int, a new obejct of type int is created with value 1 less than my_int and my_int is set to point to it. So basically, It don't change value of my_int from 13 to 12, just pointed my_int to a different location.
Therefore int is immutable, we can't change value after assignment.
###### Some other immutable data types in python are float, string, tuple etc.

Similarly, now let's see my_list of list data type.
We popped out last emenet from the my_list but the ID remains same. Because list is mutable. 
###### Some other mutable data types in python are arrays, sets, dictionaries etc.